jaxrs-models/src/main/xsd/amadeus.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="train" type="train"></xsd:element>
	<xsd:complexType name="train">
		<xsd:sequence>
			<xsd:element name="number" type="xsd:int"></xsd:element>
			<xsd:element name="arrivalTime" type="xsd:dateTime"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>